@import '../../styles/shared.scss';

.container {
  height: $MediaBrowserHeaderHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $MainContentAreaTopMargin;
  @include medium {
    height: 50px;
    padding: 0 14px;
    margin-top: 0;
  }
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.uploadIcon {
  padding: 0;
  background-color: transparent;
  @include medium {
    display: none;
  }
}

.pipe {
  margin-left: $MediaBrowserToolbarIconsMargin;
  width: 1pt;
  height: 19pt;
  border: solid 1pt $colorGreyMedium;
  @include medium {
    display: none;
  }
}

.gridOrListIcon {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  background-color: transparent;
  padding: 0;
  margin-top: 4px;
  cursor: pointer;
  @include medium {
    display: none;
  }
}

.pathWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unlinkedPath {
  color: $colorPrimary !important;
  cursor: default;
}

.linkedPath {
  color: $colorSecondary !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $colorPrimary !important;
  }
}

.splitLine {
  color: $colorSecondary !important;
}
